body {
	font-family: "Arial";
}

#header {
	text-align: center;
	background-color: #FF9900;
	border-radius: 25px;
	font-color: #FFFFFF;
}

#sidebar {
	float: left;
	width: 150;
	height: 500;
	background-color: #FF9900;
	border-radius: 25px;
	text-align: center;

}

#content {
	margin-left: 150px;
	margin-right: 50px;
	padding-left: 30px;
}

.flag {
	margin-left: 150px;
	padding-left: 30;
	border: 2px solid;
	border-radius: 25px;
/*	min-height: 80px; */
	margin-bottom: 15px;
	margin-top: 15px;

}

#footer {
	margin-left: 150px;
	font-size: 10;
	opacity: 40;
	text-align: center;
	padding-left: 30;
	padding-bottom: 30px;
}