body {
	font-family: "Arial";
}

a:link {color: #474747;}
a:visited {color: #000000;}
a:hover {color: #FF9900;}
a:active {color: #FFFF66;}

#header {
	text-align: center;
	margin-right: 100px;
	color: #FFFFFF;
	background-color: #FF9900;
	border-radius: 25px;
}

#sidebar {
	float: left;
	width: 150;
	height: 500;
	margin-top: 20px;
	background-color: #FF9900;
	border-radius: 25px;
	text-align: center;

}

#content {
	margin-left: 150px;
	margin-right: 100px;
	padding-left: 30px;
}

.flag {
	margin-left: 150px;
	margin-right: 100px;
	padding-left: 30;
	border: 2px solid;
	border-radius: 25px;
	margin-bottom: 15px;
	margin-top: 15px;

}

#footer {
	margin-left: 150px;
	font-size: 10;
	opacity: 40;
	text-align: center;
	padding-left: 30;
	padding-bottom: 30px;
}